# Lab 2 - Lab Assignment

Team Members:
- Achchala Deepan - 20943939
- Manjary Muruganandan - 20950662

Group #10

In [1]:
# Imports
import geopy.distance

## Tuple Example - Practice #1

In [3]:
# Practice 1:

# Tuple example: coordinates and data integrity
location0 = (25.03, 121.56)
location1 = (22.33, 120.41)
print("Latitude:", location0 [0])
print("Longitude:", location0[1])
total_location_a = location0 + location1
print(total_location_a)
# is it what we want?

total_location_b = (location0, location1)
print(total_location_b)
print("location0:", total_location_b[0])
print("location1:", total_location_b[1])
print("location0_Latitude:", total_location_b[0][0])
print("location0_Longitude:", total_location_b[0][1])
print("location1_Latitude:", total_location_b[1][0])
print("location1_Longitude:", total_location_b[1][1])

# uses the WGS-84 ellipsoid (as used in GPS systems) to calculate the distance
distance = geopy.distance.geodesic(location0, location1).km
print("distance:", distance)
print("distance__roundup:", int(distance))

# example for function "enumerate"
# for index, element in enumerate (iterable, start = Â®):
for idx, (lat, lon) in enumerate(total_location_b):
    print(f"Location {idx}: Latitude = {lat}, Longitude = {lon}")

Latitude: 25.03
Longitude: 121.56
(25.03, 121.56, 22.33, 120.41)
((25.03, 121.56), (22.33, 120.41))
location0: (25.03, 121.56)
location1: (22.33, 120.41)
location0_Latitude: 25.03
location0_Longitude: 121.56
location1_Latitude: 22.33
location1_Longitude: 120.41
distance: 321.21288072085764
distance__roundup: 321
Location 0: Latitude = 25.03, Longitude = 121.56
Location 1: Latitude = 22.33, Longitude = 120.41

## List Example - Practice 2-1 and 2-2

In [5]:
# Practice 2-1:
# Define exam scores for three courses
scores = [
[85, 90, 88], #MSE211
[78, 81, 85], #MSE434
[92, 89, 95] #MSE531
]

courses = ["MSE211", "MSE434", "MSE531"]

# Access all scores for MSE211
print ("scores for MSE211:", scores [0])
# Access the second test score for MSE434
print("MSE434 - Test 2 Score:", scores [1][1])
# Iterate over courses and calculate average score
for i, course_scores in enumerate(scores):
    course = courses[1]
    avg = sum(course_scores) / len(course_scores)
    print(f"{course} average score: {avg:.1f}")

# Practice 2-2:
add_course = ["MSE253", "MSE334"]
# append
courses = ["MSE211", "MSE434", "MSE531"]
courses.append(add_course)
print(courses) # is it what we want?

# list1 + list2: mode 1
courses = ["MSE211", "MSE434", "MSE531"]
courses += add_course
print(courses)

# list1 + list2: mode 2
courses = ["MS211", "MS434", "MS531"]
courses = courses + add_course
print(courses)

#extend
courses = ["MSE211", "MSE434", "MSE531"]
courses.extend(add_course)
print(courses)

M5253_score = [82, 91, 97]
MSE334_score = [88, 94, 85]

# Practice here
# how to add into variable "scores" with the same format?
scores.append(M5253_score)
scores.append(MSE334_score)
print(scores)

scores for MSE211: [85, 90, 88]
MSE434 - Test 2 Score: 81
MSE434 average score: 87.7
MSE434 average score: 81.3
MSE434 average score: 92.0
['MSE211', 'MSE434', 'MSE531', ['MSE253', 'MSE334']]
['MSE211', 'MSE434', 'MSE531', 'MSE253', 'MSE334']
['MS211', 'MS434', 'MS531', 'MSE253', 'MSE334']
['MSE211', 'MSE434', 'MSE531', 'MSE253', 'MSE334']
[[85, 90, 88], [78, 81, 85], [92, 89, 95], [82, 91, 97], [88, 94, 85]]

## Dictionary Example - Practice 3

In [6]:
# Define exam scores for three courses
scores = [
[85, 90, 88], #MSE211
[78, 81, 85], #MSE434
[92, 89, 95] #MSE531
]

courses = ["MSE211", "MSE434", "MSE531"]

course_scores = dict(zip(courses, scores))
print(course_scores)

# Access the second test score for MSE434
print("MSE434 - Test 2 Score:", course_scores["MSE434"][1])

add_course = ["MSE253", "MSE334"]
M5253_score = [82, 91, 97]
MSE334_score = [88, 94, 85]

#create a new dictionary for additional courses (mode 1)
new_entries = {"MSE253": M5253_score}

course_scores.update(new_entries)
print(course_scores)

#create a new dictionary for additional courses (mode 1)
course_scores[add_course[1]] = MSE334_score
print(course_scores)

#create a new dictionary for additional courses (mode 2)
course_scores[add_course[1]] = MSE334_score
print(course_scores)

#what is the average score for the first student?
for course, scores in course_scores.items():
    avg = sum(scores) / len(scores)
    print(f"{course} average score: {avg:.1f}")

{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95]}
MSE434 - Test 2 Score: 81
{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95], 'MSE253': [82, 91, 97]}
{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95], 'MSE253': [82, 91, 97], 'MSE334': [88, 94, 85]}
{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95], 'MSE253': [82, 91, 97], 'MSE334': [88, 94, 85]}
MSE211 average score: 87.7
MSE434 average score: 81.3
MSE531 average score: 92.0
MSE253 average score: 90.0
MSE334 average score: 89.0

## Pandas Example - Practice 4

In [16]:
import pandas as pd
from IPython.display import display

course_scores = {
    "MSE211": [85, 90, 88],
    "MSE434": [78, 81, 85],
    "MSE531": [92, 89, 95],
    "MSE253": [82, 91, 97],
    "MSE334": [88, 94, 85]
}

df = pd.DataFrame(course_scores)
df.index = ["Student 1", "Student 2", "Student 3"]
print(df)

print(df.index)
print(df.columns)

print(df.loc["Student 1", "MSE434"])
print(df.iloc[0,1])

print(df.loc["Student 2"])
print(df.iloc[1])

print (df["MSE434"])
print(df.iloc[:, 1])

print(df.iloc[:, -1])
print(df.iloc[-1])

# average score for each student (row wise)
df["Average"] = df.mean(axis=1)
display(df)

# average score for each course (column wise)
course_avg = df.mean()

# filter st udents with average score greater than 85
high_achievers = df[df["Average"] > 85]

# display results
print("Student Averages:\n", df["Average"])
print("\nCourse Averages:\n", course_avg)
print("\nHigh Achievers:\n", high_achievers)

# calculate the highest score achieved in the course MSE334
highest_score = df["MSE334"].max()

#add a new column named passed
df["Pass/Fail"] = df["Average"].apply(lambda x: "Pass" if x >= 85 else "Fail")

#display the results
print("\nHighest Score in MSE334:\n", highest_score)
print("\nPass/Fail:\n", df["Pass/Fail"])

           MSE211  MSE434  MSE531  MSE253  MSE334
Student 1      85      78      92      82      88
Student 2      90      81      89      91      94
Student 3      88      85      95      97      85
Index(['Student 1', 'Student 2', 'Student 3'], dtype='object')
Index(['MSE211', 'MSE434', 'MSE531', 'MSE253', 'MSE334'], dtype='object')
78
78
MSE211    90
MSE434    81
MSE531    89
MSE253    91
MSE334    94
Name: Student 2, dtype: int64
MSE211    90
MSE434    81
MSE531    89
MSE253    91
MSE334    94
Name: Student 2, dtype: int64
Student 1    78
Student 2    81
Student 3    85
Name: MSE434, dtype: int64
Student 1    78
Student 2    81
Student 3    85
Name: MSE434, dtype: int64
Student 1    88
Student 2    94
Student 3    85
Name: MSE334, dtype: int64
MSE211    88
MSE434    85
MSE531    95
MSE253    97
MSE334    85
Name: Student 3, dtype: int64

           MSE211  MSE434  MSE531  MSE253  MSE334  Average
Student 1      85      78      92      82      88     85.0
Student 2      90      81      89      91      94     89.0
Student 3      88      85      95      97      85     90.0

Student Averages:
 Student 1    85.0
Student 2    89.0
Student 3    90.0
Name: Average, dtype: float64

Course Averages:
 MSE211     87.666667
MSE434     81.333333
MSE531     92.000000
MSE253     90.000000
MSE334     89.000000
Average    88.000000
dtype: float64

High Achievers:
            MSE211  MSE434  MSE531  MSE253  MSE334  Average
Student 2      90      81      89      91      94     89.0
Student 3      88      85      95      97      85     90.0

Highest Score in MSE334:
 94

Pass/Fail:
 Student 1    Pass
Student 2    Pass
Student 3    Pass
Name: Pass/Fail, dtype: object

##