# Lab 2 - Lab Assignment

Team Members:
- Achchala Deepan - 20943939
- Manjary Muruganandan - 20950662

Group #10

In [19]:
# Imports
import geopy.distance
import pandas as pd
from IPython.display import display
from itertools import combinations
from geopy.distance import geodesic
from docplex.mp.model import Model
import os

## Tuple Example - Practice #1

In [2]:
# Practice 1:

# Tuple example: coordinates and data integrity
location0 = (25.03, 121.56)
location1 = (22.33, 120.41)
print("Latitude:", location0 [0])
print("Longitude:", location0[1])
total_location_a = location0 + location1
print(total_location_a)
# is it what we want?

total_location_b = (location0, location1)
print(total_location_b)
print("location0:", total_location_b[0])
print("location1:", total_location_b[1])
print("location0_Latitude:", total_location_b[0][0])
print("location0_Longitude:", total_location_b[0][1])
print("location1_Latitude:", total_location_b[1][0])
print("location1_Longitude:", total_location_b[1][1])

# uses the WGS-84 ellipsoid (as used in GPS systems) to calculate the distance
distance = geopy.distance.geodesic(location0, location1).km
print("distance:", distance)
print("distance__roundup:", int(distance))

# example for function "enumerate"
# for index, element in enumerate (iterable, start = Â®):
for idx, (lat, lon) in enumerate(total_location_b):
    print(f"Location {idx}: Latitude = {lat}, Longitude = {lon}")

Latitude: 25.03
Longitude: 121.56
(25.03, 121.56, 22.33, 120.41)
((25.03, 121.56), (22.33, 120.41))
location0: (25.03, 121.56)
location1: (22.33, 120.41)
location0_Latitude: 25.03
location0_Longitude: 121.56
location1_Latitude: 22.33
location1_Longitude: 120.41
distance: 321.21288072085764
distance__roundup: 321
Location 0: Latitude = 25.03, Longitude = 121.56
Location 1: Latitude = 22.33, Longitude = 120.41

## List Example - Practice #2-1 and #2-2

In [3]:
# Practice 2-1:
# Define exam scores for three courses
scores = [
[85, 90, 88], #MSE211
[78, 81, 85], #MSE434
[92, 89, 95] #MSE531
]

courses = ["MSE211", "MSE434", "MSE531"]

# Access all scores for MSE211
print ("scores for MSE211:", scores [0])
# Access the second test score for MSE434
print("MSE434 - Test 2 Score:", scores [1][1])
# Iterate over courses and calculate average score
for i, course_scores in enumerate(scores):
    course = courses[1]
    avg = sum(course_scores) / len(course_scores)
    print(f"{course} average score: {avg:.1f}")

# Practice 2-2:
add_course = ["MSE253", "MSE334"]
# append
courses = ["MSE211", "MSE434", "MSE531"]
courses.append(add_course)
print(courses) # is it what we want?

# list1 + list2: mode 1
courses = ["MSE211", "MSE434", "MSE531"]
courses += add_course
print(courses)

# list1 + list2: mode 2
courses = ["MS211", "MS434", "MS531"]
courses = courses + add_course
print(courses)

#extend
courses = ["MSE211", "MSE434", "MSE531"]
courses.extend(add_course)
print(courses)

M5253_score = [82, 91, 97]
MSE334_score = [88, 94, 85]

# Practice here
# how to add into variable "scores" with the same format?
scores.append(M5253_score)
scores.append(MSE334_score)
print(scores)

scores for MSE211: [85, 90, 88]
MSE434 - Test 2 Score: 81
MSE434 average score: 87.7
MSE434 average score: 81.3
MSE434 average score: 92.0
['MSE211', 'MSE434', 'MSE531', ['MSE253', 'MSE334']]
['MSE211', 'MSE434', 'MSE531', 'MSE253', 'MSE334']
['MS211', 'MS434', 'MS531', 'MSE253', 'MSE334']
['MSE211', 'MSE434', 'MSE531', 'MSE253', 'MSE334']
[[85, 90, 88], [78, 81, 85], [92, 89, 95], [82, 91, 97], [88, 94, 85]]

## Dictionary Example - Practice #3

In [4]:
# Define exam scores for three courses
scores = [
[85, 90, 88], #MSE211
[78, 81, 85], #MSE434
[92, 89, 95] #MSE531
]

courses = ["MSE211", "MSE434", "MSE531"]

course_scores = dict(zip(courses, scores))
print(course_scores)

# Access the second test score for MSE434
print("MSE434 - Test 2 Score:", course_scores["MSE434"][1])

add_course = ["MSE253", "MSE334"]
M5253_score = [82, 91, 97]
MSE334_score = [88, 94, 85]

#create a new dictionary for additional courses (mode 1)
new_entries = {"MSE253": M5253_score}

course_scores.update(new_entries)
print(course_scores)

#create a new dictionary for additional courses (mode 1)
course_scores[add_course[1]] = MSE334_score
print(course_scores)

#create a new dictionary for additional courses (mode 2)
course_scores[add_course[1]] = MSE334_score
print(course_scores)

#what is the average score for the first student?
for course, scores in course_scores.items():
    avg = sum(scores) / len(scores)
    print(f"{course} average score: {avg:.1f}")

{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95]}
MSE434 - Test 2 Score: 81
{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95], 'MSE253': [82, 91, 97]}
{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95], 'MSE253': [82, 91, 97], 'MSE334': [88, 94, 85]}
{'MSE211': [85, 90, 88], 'MSE434': [78, 81, 85], 'MSE531': [92, 89, 95], 'MSE253': [82, 91, 97], 'MSE334': [88, 94, 85]}
MSE211 average score: 87.7
MSE434 average score: 81.3
MSE531 average score: 92.0
MSE253 average score: 90.0
MSE334 average score: 89.0

## Pandas Example - Practice #4

In [5]:
course_scores = {
    "MSE211": [85, 90, 88],
    "MSE434": [78, 81, 85],
    "MSE531": [92, 89, 95],
    "MSE253": [82, 91, 97],
    "MSE334": [88, 94, 85]
}

df = pd.DataFrame(course_scores)
df.index = ["Student 1", "Student 2", "Student 3"]
print(df)

print(df.index)
print(df.columns)

print(df.loc["Student 1", "MSE434"])
print(df.iloc[0,1])

print(df.loc["Student 2"])
print(df.iloc[1])

print (df["MSE434"])
print(df.iloc[:, 1])

print(df.iloc[:, -1])
print(df.iloc[-1])

# average score for each student (row wise)
df["Average"] = df.mean(axis=1)
display(df)

# average score for each course (column wise)
course_avg = df.mean()

# filter st udents with average score greater than 85
high_achievers = df[df["Average"] > 85]

# display results
print("Student Averages:\n", df["Average"])
print("\nCourse Averages:\n", course_avg)
print("\nHigh Achievers:\n", high_achievers)

# calculate the highest score achieved in the course MSE334
highest_score = df["MSE334"].max()

#add a new column named passed
df["Pass/Fail"] = df["Average"].apply(lambda x: "Pass" if x >= 85 else "Fail")

#display the results
print("\nHighest Score in MSE334:\n", highest_score)
print("\nPass/Fail:\n", df["Pass/Fail"])

           MSE211  MSE434  MSE531  MSE253  MSE334
Student 1      85      78      92      82      88
Student 2      90      81      89      91      94
Student 3      88      85      95      97      85
Index(['Student 1', 'Student 2', 'Student 3'], dtype='object')
Index(['MSE211', 'MSE434', 'MSE531', 'MSE253', 'MSE334'], dtype='object')
78
78
MSE211    90
MSE434    81
MSE531    89
MSE253    91
MSE334    94
Name: Student 2, dtype: int64
MSE211    90
MSE434    81
MSE531    89
MSE253    91
MSE334    94
Name: Student 2, dtype: int64
Student 1    78
Student 2    81
Student 3    85
Name: MSE434, dtype: int64
Student 1    78
Student 2    81
Student 3    85
Name: MSE434, dtype: int64
Student 1    88
Student 2    94
Student 3    85
Name: MSE334, dtype: int64
MSE211    88
MSE434    85
MSE531    95
MSE253    97
MSE334    85
Name: Student 3, dtype: int64

           MSE211  MSE434  MSE531  MSE253  MSE334  Average
Student 1      85      78      92      82      88     85.0
Student 2      90      81      89      91      94     89.0
Student 3      88      85      95      97      85     90.0

Student Averages:
 Student 1    85.0
Student 2    89.0
Student 3    90.0
Name: Average, dtype: float64

Course Averages:
 MSE211     87.666667
MSE434     81.333333
MSE531     92.000000
MSE253     90.000000
MSE334     89.000000
Average    88.000000
dtype: float64

High Achievers:
            MSE211  MSE434  MSE531  MSE253  MSE334  Average
Student 2      90      81      89      91      94     89.0
Student 3      88      85      95      97      85     90.0

Highest Score in MSE334:
 94

Pass/Fail:
 Student 1    Pass
Student 2    Pass
Student 3    Pass
Name: Pass/Fail, dtype: object

## Importing Data - Practice #5

In [21]:
# Load Excel data
excel_path = '../Lab1/MSE 434 Lab 1 Data.xlsx'
facility_df = pd.read_excel(excel_path, sheet_name='Facility Data')
demand_df = pd.read_excel(excel_path, sheet_name="Customer Demand")
distance_df = pd.read_excel(excel_path, sheet_name='Distance Matrix')

display(facility_df)
display(demand_df)
display(distance_df)

  Facility  Fixed Cost ($)  Capacity (units)
0       F1           12000                40
1       F2           14500                60
2       F3           13000                50
3       F4           15000                30
4       F5           12500                65
5       F6           13800                55
6       F7           14200                45

  Customer  Demand (units)
0       C1              18
1       C2              22
2       C3              25
3       C4              30
4       C5              27
5       C6              20
6       C7              15
7       C8              19
8       C9              23
9      C10              21

  Facility  C1  C2  C3  C4  C5  C6  C7  C8  C9  C10
0       F1  12  15  20  18  14  22  10  19  16   17
1       F2  13  16  21  19  15  23  11  20  17   18
2       F3  11  14  19  17  13  21   9  18  15   16
3       F4  14  17  22  20  16  24  12  21  18   19
4       F5  10  13  18  16  12  20   8  17  14   15
5       F6  15  18  23  21  17  25  13  22  19   20
6       F7  12  15  20  18  14  22  10  19  16   17

## STSP Formulation - Practice #6

In [7]:
from docplex.mp.model import Model

In [11]:
# 1: Define distance matrix
df_distance = pd.DataFrame([[0, 5, 6, 8], [5, 0, 13, 8], [6, 13, 0, 9], [8, 8, 9, 0]], columns=[0, 1, 2, 3], index= [0, 1, 2, 3])
list_nodes = list(df_distance.index) # save the nodes as a list
list_edges = [(i, j) for i in list_nodes for j in list_nodes if i < j] 

# 2: Define the model and decision variable x
mdl = Model (name = "STSP_DFJ_CPLEX") # create a CPLEX model
var_x = mdl.binary_var_dict(list_edges, name = "x")

# 3: Define the constraints

# 3-1: Degree-2 constraint - each node has 2 incident edges
for j in list_nodes:
    incident = [e for e in list_edges if j in e] # take all the edges which include the node j
    # print(incident)
    mdl.add_constraint(mdl.sum(var_x[i, j] for (i, j) in incident) == 2)

# 3-2: Subtour elimination - DJ constraints for all subsets S c N, 2 â¤ |S| â¤ n-1
# 3-2-1: Create list of subsets (size 2 to n-1)
list_subset = []
for r in range(2, len(list_nodes)):
    for i in combinations(list_nodes, r = r):
        print(i) # shows i as a tuple 
        list_subset.append(list(i))
        print(list_subset)

# 3-2-2: Add DFJ constraints based on each subset
for s in list_subset:
    subset_edges = [(i, j) for i in s for j in s if i < j and (i, j) in list_edges]
    # print(subset _edges)
    if len(subset_edges) != 0:
        mdl.add_constraint(mdl.sum(var_x[i, j] for (i, j) in subset_edges) <= len(s) - 1)

# 4: Objective - minimize total distance
mdl.minimize(mdl.sum(df_distance.loc[i, j] * var_x[i, j] for i, j in list_edges))

# 5: Solve and print
solution = mdl.solve(log_output = True)
if solution:
    print("Objective value (DFJ):", mdl.objective_value)
    print("Selected edges:")
    for (i, j) in list_edges:
        if var_x[i, j].solution_value > 0.5:
            print(f" {i} -- {j}")
        else:
            print("No solution found.")

# Optional: Show the model formulation
# print ("\nMODEL FORMULATION:")
# print (mdl.export_as_lp_string())

(0, 1)
[[0, 1]]
(0, 2)
[[0, 1], [0, 2]]
(0, 3)
[[0, 1], [0, 2], [0, 3]]
(1, 2)
[[0, 1], [0, 2], [0, 3], [1, 2]]
(1, 3)
[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3]]
(2, 3)
[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3]]
(0, 1, 2)
[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3], [0, 1, 2]]
(0, 1, 3)
[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3], [0, 1, 2], [0, 1, 3]]
(0, 2, 3)
[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3], [0, 1, 2], [0, 1, 3], [0, 2, 3]]
(1, 2, 3)
[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3], [0, 1, 2], [0, 1, 3], [0, 2, 3], [1, 2, 3]]
Version identifier: 22.1.1.0 | 2022-11-28 | 9160aff4d
CPXPARAM_Read_DataCheck                          1
Tried aggregator 1 time.
MIP Presolve eliminated 6 rows and 0 columns.
Reduced MIP has 8 rows, 6 columns, and 24 nonzeros.
Reduced MIP has 6 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.01 ticks)
Found incumbent of value 35.000000 after 0.00 sec. (0.02 ticks)
Probing time = 0.00 sec. (0.01 ticks)
Tried aggregator 1 time.
MIP Presolve eliminated 8 rows and 6 columns.
All rows and columns eliminated.
Presolve time = 0.00 sec. (0.01 ticks)

Root node processing (before b&c):
  Real time             =    0.00 sec. (0.04 ticks)
Parallel b&c, 8 threads:
  Real time             =    0.00 sec. (0.00 ticks)
  Sync time (average)   =    0.00 sec.
  Wait time (average)   =    0.00 sec.
                          ------------
Total (root+branch&cut) =    0.00 sec. (0.04 ticks)
Objective value (DFJ): 28.0
Selected edges:
 0 -- 1
 0 -- 2
No solution found.
No solution found.
 1 -- 3
 2 -- 3

## Lab Assignment

In [ ]:
# 1. Load Excel File
# Get the absolute path to the Excel file
current_dir = os.path.dirname(os.path.abspath('__file__'))
excel_path = '../Lab2/MSE 434 Lab 1 Data.xlsx'
cities_df = pd.read_excel(file_path)

# Extract city names and coordinates
city_names = cities_df['City Name'].tolist()
coords = list(zip(cities_df['Latitude'], cities_df['Longitude']))
n = len(coords)

# 2. Compute Distance Matrix (rounded to integers)
distance_matrix = [
    [round(geodesic(coords[i], coords[j]).km) for j in range(n)]
    for i in range(n)
]
distance_df = pd.DataFrame(distance_matrix, columns=city_names, index=city_names)
print("Distance Matrix (km):")
print(distance_df)

# 3. Solve STSP using CPLEX
model = Model(name="STSP")

# Binary decision variables: x[i,j] = 1 if travel from i to j
x = {(i, j): model.binary_var(name=f"x_{i}_{j}") for i in range(n) for j in range(n) if i != j}

# MTZ variables for subtour elimination
u = {i: model.continuous_var(lb=0, ub=n-1, name=f"u_{i}") for i in range(1, n)}  # skip u[0]

# Objective: minimize total distance
model.minimize(model.sum(distance_matrix[i][j] * x[i, j] for i in range(n) for j in range(n) if i != j))

# Constraints: One outbound and one inbound per city
for i in range(n):
    model.add_constraint(model.sum(x[i, j] for j in range(n) if j != i) == 1, f"leave_{i}")
    model.add_constraint(model.sum(x[j, i] for j in range(n) if j != i) == 1, f"enter_{i}")

# MTZ subtour elimination constraints
for i in range(1, n):
    for j in range(1, n):
        if i != j:
            model.add_constraint(u[i] - u[j] + n * x[i, j] <= n - 1, f"mtz_{i}_{j}")

# Solve
solution = model.solve(log_output=True)

# 4. Extract solution
if solution:
    print("\nOptimal tour and distance:")
    selected = [(i, j) for (i, j) in x if x[i, j].solution_value > 0.5]

    # Reconstruct tour
    tour = [selected[0][0]]
    while len(tour) < n:
        for (i, j) in selected:
            if i == tour[-1]:
                tour.append(j)
                break
    tour.append(tour[0])  # Return to start

    print("\nOptimal decision variables (x[i, j] = 1 indicates travel from city i to city j):")
    for (i, j) in selected:
        print(f"x[{city_names[i]} -> {city_names[j]}] = 1")

    print(" -> ".join(city_names[i] for i in tour))
    print(f"Total distance (km): {solution.objective_value}")
else:
    print("No optimal solution found.")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/achchala/Library/CloudStorage/OneDrive-UniversityofWaterloo/University/MSE 434/Lab2/MSE434 Lab 2 Assignment Data.xlsx'